.coinLink {
  text-decoration: none;
}

.coin-container { 
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.coin-row { 
  display: flex;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 30%;
}

.coinName {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.coin-data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}

.coin-chart {
  width: 110px;
}

.coin-price {
  width: 50px;
}

.coin-volume {
  width: 200px;
}
.coin-marketcap {
  width: 240px;
}

