.imgWhatCrypto {
    width: 400px;
    padding: 10px;
    border-radius: 20px;
}

.colImgWhat {
    display: flex;
    justify-content: center;
}
.rowWhat {
    height: 400px;
    display: flex;
    align-items: center;
}

.mainBlockHome3 p{
    font-size: 16px;
}