.editBtn button {
   background-color: orange;
   border: 0px;
   border-radius: 2px;
   width: 85px;
   margin: 3px;
   padding: 5px;
   color: white;
   font-size: 14px;
   transition: .5s;
   font-weight: 500;
 }
 
 .editBtn button:hover {
   transition: .5s;
   background-color: rgb(213, 213, 213);
   color: rgb(120, 120, 120);
 }

 .editBtn {
   display: block;
   align-items: center;
 }