.logo-footer {
  width: 50px;
  padding-bottom: 4px;
}

.divFooter {
  background-color: rgb(34,37,41);
  padding: 30px;
}

.company{
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
  font-family: "Gabriela", serif;
}

.company2 {
  font-size: 13px;
  font-family: "Gabriela", serif;
  color: grey;
}

.heading-footer{
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
  font-family: "Gabriela", serif;
}

.contacts-footer{
  color: grey;
  font-size: 14px;
  font-family: "Gabriela", serif;
}

#footer-block2{
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.pay {
  width: 600px;
}

.col1Footer {
  text-align: center;
}

.col2Footer {
  text-align: center;
}
